.roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    font-family: "Source Code Pro";
    width: 100%;
    background-color: rgb(154, 37, 213);
}

#calculator-body {
    border-radius: 20px;
    box-shadow: 2px 2px 2px;
    background-color: blueviolet;
    border: 1px solid black;
    padding: 2em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    min-width: 60%;
    max-width: 80%;
    color: rgb(0, 0, 0);

}

#calculator-variables {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

#calculator-body p {
    margin: 0.5em;
    text-align: center;
    width: 20%;
    border: 1px solid black;
    padding: 2em;
    border-radius: 10px;
    background-color: rgb(173, 141, 203);
}


div form {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 1em;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 2px;
    background-color: blueviolet;
    border: 1px solid black;
    padding: 2em;
    width: 80%;
    min-height: 20%;
}

div form div label {
    padding: 1em;
    height: 2em;
}

div form div input {
    width: 10%;
    height: 2em;
    background-color: rgb(173, 141, 203);
    border-radius: 10px;
    padding: 0.5em;
}


div form button {
    border-radius: 2em;
    margin-top: 2em;
    background-color: rgb(173, 141, 203);
    width: 20%;
    height: 4em;
}